.conteiner {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background-color: #F2F5F8;
}

/* header  */

header {
    padding: 44px 98px 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E5E5E5;
}

ul {
    display: flex;
    align-items: center;
    gap: 91px;
    color: #8172D5;
    font-family: 'Ubuntu';
    font-size: 24px;
}
/* section  */

section {
    padding: 52px 98px 63px;
    font-family: 'Ubuntu';
    font-size: 32px;
    background-color: #F2F5F8;
}
.sectiontitle {
    margin-bottom: 69px;
    color:  #225857;
}
.maindiv {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Ubuntu';
    font-size: 20px;
    gap: 23px;
}
.card{
    height: 158px;
    margin-bottom: 60px;
}
p {
    color:  #133B3A;
}
.divcard1{
    height: 368px;
    background-color: #ffffff;
    width: 32%;
    padding: 33px 30px 36px;
    margin-bottom: 95px;
}
.divcard2{
    height: 368px;
    background-color: #ffffff;
    width: 32%;
    padding: 33px 30px 36px;
    margin-bottom: 63px;
}

/* <!-- footer  --> */

footer{
    padding: 46px 98px 30px 97px;
    background-color: #758BFD;
    display: flex;
    justify-content: space-between;
    align-items: flex-end; 
} 
.search_box{
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.searchtext{
    width: 449px;
    border-radius: 10px;
    font-size: 40px;
    /* margin-left: 20px; */
    border: none;
    outline: none;
}
.searchbtn{
    position: absolute;
    color: blue;
}

   


